.add-to-cart-counter{
  min-width: 80px;
  font-family: $font-family-montserrat;
  border: solid $light-gray 1px;
  color: $gray;
  font-weight: bold;
  font-size: $font-size-add-to-cart-counter;
  align-self: flex-end;
  @include media-breakpoint-down(xs) {
    min-width: 70px;
    font-size: $font-size-add-to-cart-counter-sm;
  }
  .add-to-cart-counter-decrease,
  .add-to-cart-counter-increase {
    cursor: pointer;

    &:hover {
      transform: scale(1.3);
    }
  }
}
