.add-to-cart__modal {
  .modal-header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 0.25rem 1rem;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    border-bottom: unset;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    padding-left: 0px;

    .modal-title {
      width: 97%;
    }

    h2 {
      font-size: $font-size-h2-sm;
      font-weight: bold;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 3.12px;
      margin-bottom: 0px;
      border-bottom: solid $light-gray 1px;
      padding-left: 2rem;
    }

    .close {
      min-width: unset;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $secondary;
      opacity: 1;
      color: $white;
      font-weight: 200;
      border-radius: unset;
    }
  }

  .add-to-cart__modal__product-image {
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .add-to-cart__modal__product-detail {
    .add-to-cart__modal__product-detail__name h3 {
      font-size: $font-size-h3-sm;
      font-weight: bold;
      color: $secondary;
      text-transform: uppercase;
      letter-spacing: 3.12px;
      margin-bottom: 0px;
    }

    .add-to-cart__modal__product-detail__reference p {
      font-size: $font-paragraph-md;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.24px;
    }

    .add-to-cart__modal__product-detail__sku {
      font-family: $font-family-montserrat;
      font-weight: 200;
      font-size: $font-paragraph-xs;
    }

    .add-to-cart__modal__product-detail__price {
      font-size: $font-paragraph-md;
      font-weight: bold;
      letter-spacing: 0.39px;
    }
  }

  .add-to-cart__modal__free-shipping {
    border-top: solid $light-gray 1px;
    border-bottom: solid $light-gray 1px;

    p {
      text-align: center;
      text-transform: uppercase;
      font-size: $font-paragraph-md;
      color: $gray;
      letter-spacing: 2.88px;
      margin: 0;
    }
  }

  .add-to-cart__modal__recommended {
    margin-bottom: 15px;
    width: 100%;

    .add-to-cart__modal__recommended__header {
      font-size: $font-size-h2-sm;
      letter-spacing: 1.9px;
      text-align: center;
    }
  }

  .add-to-cart__modal__product-detail__checkout-buttons {
    .add-to-cart__modal__product-detail__checkout-buttons__amount {
      p {
        font-size: $font-paragraph-sm;
        letter-spacing: 0.43px;
      }

      .add-to-cart__modal__product-detail__checkout-buttons__amount__price {
        font-size: $font-size-h2-sm;
        font-weight: bold;
        letter-spacing: 0px;
      }
    }
  }
}
