button {
  background-color: $primary;
  color: $white;
  text-transform: uppercase;
  letter-spacing: $font-letter-spacing-buttons;
  border: unset;
  border-radius: 2px;
  text-align: center;
  min-width: 229px;
  font-size: $font-size-button;

  @include media-breakpoint-up(sm) {
    margin-top: ($spacer * .25);
  }
}

.button-outline {
  background-color: transparent;
  color: $gray;
  border: solid $light-gray 1px;
}
