.cart-page {
  &__free-shipping {
    background: $tertiary;
    color: $white;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4.34px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: $font-paragraph-md;

    p {
      margin-bottom: 0px;
    }
    @include media-breakpoint-down(xs) {
      font-size: $font-paragraph-xs;
    }
  }
  &__counter {
    font-size: $font-paragraph-xs;
    color: $gray;
  }
  &__cart-items {
    padding-left: 0px;
    padding-right: 0px;
  }
  &__totals {
    border: solid $light-gray 1px;
    border-radius: 5px;
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    &__help {
      border: solid $light-gray 1px;
      border-radius: 5px;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 5%;
      padding-bottom: 5%;
      h3 {
        font-size: $font-size-h2-sm;
        margin-top: 0px;
      }
    }
    &__banner {
      .hero {
        height: 124px;
        border-radius: 5px;
      }
    }
  }
}
