.carousel {
  overflow-x: hidden;
  .custom-arrow{

    color:white;
    position: absolute;
    top: 50%;
    display: block;
    width: $font-size-icons-md;
    height: $font-size-icons-md;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 10;
    line-height: normal;
    font-size: $font-size-icons-md;
    cursor: pointer;
  }
  .custom-arrow-prev {
    @extend .custom-arrow;
    left: 5px;
  }
  .custom-arrow-next {
    @extend .custom-arrow;
    right: 5px;
  }

  .custom-arrow-prev--products {
    @extend .custom-arrow;
    color:$black;
    left: -0.5%;;
  }
  .custom-arrow-next--products {
    @extend .custom-arrow;
    color:$black;
    right: -0.5%;;
  }
  // .costom-dot{
  //   border: solid 2px red;
  //   z-index:10;
  //   height:10rem;
  // }
  /* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 28px;
  right:115px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  @include media-breakpoint-down(sm) {
    bottom: 9px;
    right:18px;
  }
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 -2px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  z-index: 100;
  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: $font-size-icons-lg;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  // opacity: 0.25;
  color: $black;

  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: $primary;
}



}