.comments-verified-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-gray;
  border-radius: 8px;
  color: $white;
  line-height: normal;
  height:16px;
  width:88px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: $font-paragraph-sm ;
}