.community-content-filter {
  @extend .flex;
  flex-wrap: wrap;
  &__selectors,
  &__selectors__group {
    @extend .flex;
    justify-content: flex-start;
  }
  width: 100%;
  border-top: solid $gray 1px;
  border-bottom: solid $gray 1px;
  padding-top: 2%;
  padding-bottom: 2%;

  p {
    margin-bottom: 0px;
    font-weight: bold;
  }
  &__counter {
    flex-grow: 1;
    @include media-breakpoint-down(xs) {
      width: 100%;
      margin-top: 4%;
      margin-bottom: 4%;
    }
  }
  &__selectors {
    width: 37%;
    @include media-breakpoint-down(xs) {
      width: 100%;
      flex-direction: column;
    }
    &__group {
      width: 50%;
      justify-content: flex-end;
      @include media-breakpoint-down(xs) {
        width: 100%;
        margin-bottom: 4px;
        justify-content: flex-start;
      }
    }
    &__label {
      padding-right: 2%;
      color: $secondary;
      font-weight: bold;
      box-sizing: border-box;
    }
    &__input {
      width: max-content;
      box-sizing: border-box;
      .custom-select {
        border: none;
        font-weight: bold;
        height: 32px;
        box-sizing: border-box;
      }
      @include media-breakpoint-down(xs) {
        width: auto;
      }
    }
  }
}
