footer {
  .section {
    margin-right: 0px;
    @include media-breakpoint-down(sm) {
      margin-right: 4rem;
    }
    &:last-child div {
      margin-bottom: 10px;
    }
  }
  & .footer-section-links {
    background: $background-gradient-primary;
    color: $white;
    line-height: 1rem;

    ul {
      padding-left: 0;
      list-style: none;

      li {
        a {
          line-height: inherit !important;
          color: inherit !important;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    h3,
    h4,
    h5 {
      text-decoration: underline;
    }

    .footer-icons {
      font-size: $font-size-icons * 0.7;
      border-color: transparent;
      background-color: $icon-background-color;
      width: $font-size-icons * 1;
      height: $font-size-icons * 1;
      border-radius: 50%;
    }
  }

  & .footer-section-brands {
    img {
      max-width: 100%;
    }
  }

  & .footer-section-copy {
    background: $black;
    color: $white;
    font-size: $font-paragraph-sm;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0.5px;

    .copyright {
      line-height: 1rem;
      letter-spacing: 0.15rem;
      p {
        margin-bottom: 5px;
      }

      .rwd-lined-inline {
        display: inline;
      }
      @include media-breakpoint-down(sm) {
        .rwd-lined-inline {
          display: block;
        }
      }
    }
  }
}
