footer {






  & .footer-section-links {

    background: linear-gradient(264deg, #BB29BB, #5C06A8);
    color: $white;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        align-self: start;

        a {
          color: inherit !important;
          padding: $padding-base;

          text-transform: uppercase;

          text-decoration: none;
          position: relative;
          display: block;

          &:hover {
            text-decoration: none;
          }
        }

        &:first-child a {
          margin-left: -15px;
        }
      }
    }
  }

  & .footer-section-brands {
    img {
      width: 100px
    }
  }

  & .footer-section-copy {
    background: $black;
    color: $white;
    font-size: $font-size-small;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0.5px;


    .copyright {
      line-height: 1rem;
      letter-spacing: 0.1rem;
      p {
        margin-bottom: 5px;
      }

      .rwd-lined-inline {
        display: inline;
      }
      @include media-breakpoint-down(sm){
        .rwd-lined-inline {
          display: block;
        }
      }

    }

  }
}
