header {
  & .header-section-banner {
    background: $primary;
    color: $white;
    font-size: $font-size-small;

    ul {
      padding-left: 0;
      list-style: none;
      margin: 0;

      li {
        a {
          font-weight: bold;
          line-height: inherit !important;
          color: inherit !important;

          &:hover {
            text-decoration: none;
          }
        }

        &:last-child .pipe-separator {
          display: none
        }

        ;


      }
    }

  }
  & .header-section-actions {
    min-height: 80px;

    // Logo
    .logo {
      // Modify Size on smaller screens
      @include media-breakpoint-down(sm){
        width: 100px;
        height: 33px;
      }
    }


    // Icons
    .header-icons, .icon, .bi-icon{
      font-size: $font-size-icons-lg;
      @include media-breakpoint-down(sm){
        font-size: $font-size-icons-sm;
      }
    }

    // WishList Profile and Cart

    .counter{
      margin-left:-5px;
      background:linear-gradient(264deg, #BB29BB, #5C06A8);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: relative;
      right: 4px;
      top: -8px;
      @include media-breakpoint-down(sm){
        width: 10px;
        height: 10px;
        right: 0px;
        top: -8px;
      }
    }
    .counter-number{
      font-size: 0.6rem;
      font-weight:bold;
      color:$white;
      position: relative;
      right: -1px;
      top: -5px;
      text-align: center;
      @include media-breakpoint-down(sm){
        font-size: 0.2rem;
        top: -7px;
      }
    }

    .profile-icon{
      background:linear-gradient(264deg, #BB29BB, #5C06A8);
      border-radius: 50%;
      height: $font-size-icons-lg;
      width: $font-size-icons-lg;
      @include media-breakpoint-down(sm){
        height: $font-size-icons-sm;
        width: $font-size-icons-sm;
      }
    }
    .cart-icon{
      height: 32px;
      width: 32px;
      @include media-breakpoint-down(sm){
        height: 16px;
        width: 16px;
      }
    }
  }
}
