header {
  & .header-section-banner {
    background: $primary;
    color: $white;
    font-size: $font-size-small;

    ul {
      padding-left: 0;
      list-style: none;
      margin: 0;

      li {
        a {
          font-weight: bold;
          line-height: inherit !important;
          color: inherit !important;

          &:hover {
            text-decoration: none;
          }
        }

        &:last-child .pipe-separator {
          display: none
        }

        ;


      }
    }

  }
  & .header-section-actions {
    min-height: 63px;


    // Logo
    .logo {

      // Modify Size on smaller screens
      @include media-breakpoint-down(sm){
        width: 100px;
        height: 33px;
      }
    }


    // Icons
    .header-icon{
      font-size: $font-size-icons;
      @include media-breakpoint-down(sm){
        font-size: $font-size-icons*0.673;
      }
    }
    .margin-left-override {
      margin-left:7px;
    }

    .profile-icon{
      background:linear-gradient(264deg, #BB29BB, #5C06A8);
      height: 32px;
      width: 32px;
      border-radius: 50%;
      @include media-breakpoint-down(sm){
        height: 16px;
        width: 16px;
      }
    }
  }
}
