html {
  overflow-x: auto;
}
body {
  background-color: $white;
  letter-spacing: unset;
  font-size: 1rem;
  color: $black;
  line-height: 1.5em;
}

.wrapper {
  height: auto;
  min-height: 100%;
}
// For the nuxt link
a:hover {
  text-decoration: none !important;
}

.section-spacer {
  width: 100%;
  margin-top: $vertical-section-spacer-lg;
  @include media-breakpoint-down(md) {
    margin-top: $vertical-section-spacer-md;
  }
  @include media-breakpoint-down(sm) {
    margin-top: $vertical-section-spacer-sm;
  }
  @include media-breakpoint-down(xs) {
    margin-top: $vertical-section-spacer-xs;
  }
}
.section-spacer--sm {
  width: 100%;
  margin-top: $vertical-section-spacer-lg * 0.5;
  @include media-breakpoint-down(md) {
    margin-top: $vertical-section-spacer-md * 0.5;
  }
  @include media-breakpoint-down(sm) {
    margin-top: $vertical-section-spacer-sm * 0.5;
  }
  @include media-breakpoint-down(xs) {
    margin-top: $vertical-section-spacer-xs * 0.5;
  }
}

.section-header {
  text-align: center;
}
