.profile-page {
  width: 100%;
  padding-bottom: 25px;
  &__banner {
    color: $white;
    .hero {
      padding-top: 10px;
      height: 350px;
      @include media-breakpoint-down(xs) {
        height: 220px;
      }
    }
    .rounded-circle {
      border: solid 3px $white;
    }
    &__content {
      @extend .flex;
      width: 100%;
      height: 333px;
      @include media-breakpoint-down(xs) {
        height: 204px;
      }
      flex-direction: column;
      p {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: $font-paragraph-lg;
        letter-spacing: 0.4px;
        text-align: center;
      }
      &__slug {
        font-weight: bold;
      }
    }
  }

  &__description {
    text-align: center;
    padding: 4% 25% 4% 25%;
    @include media-breakpoint-down(xs) {
      padding: 4%;
    }
  }
  &__conversations {
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    &__cards {
      @extend .flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
      &__card {
        width: 47%;
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
      }
      &__button {
        height: 33px;
        @include media-breakpoint-down(xs) {
          margin-top: 10%;
        }
      }
    }
  }
  &__info {
    @extend .flex;
    flex-wrap: wrap;
    position: relative;
    &__title {
      text-align: center;
      width: 100%;
    }
    &__data {
      width: 100%;
    }
    &__edit {
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      left: 45%;
      margin-bottom: -5%;
      z-index: 1;
      @include media-breakpoint-down(xs) {
        left: -32%;
        margin-bottom: 10px;
        z-index: 1;
      }
    }
  }
}
