.product-detail-page {

  // General

  .section-header {
    text-align: center;
  }

  // Breadcrumbs
  .product-detail-page__breadcrumbs {
    font-size: $font-size-breadcrumbs;
    font-weight: bold;
    margin-top: 30px;

    :last-child {
      font-weight: normal;
    }
  }

  // Section 1: Detail and Images
  .product-detail-page__images {
    .product-card-image {
      height: 320px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .product-label {
      position: relative;
      top: 35px;
    }

    .carousel .slick-dots {
      right: 42%;
    }
  }

  .product-detail-page__info {


    .product-detail-page__product-detail {
      text-transform: uppercase;

      .product-detail-page__product-name {
        h2 {
          color: $primary
        }
      }

      .product-detail-page__product-reference {
        font-size: $font-size-h2-sm;
      }

      .product-detail-page__product-sku {
        font-size: $font-paragraph-md;
      }
    }

    .product-detail-page__rating {
      color: #626262;
      margin-bottom: 20px;

      .product-detail-page__rating__stars {
        .product-rating {
          padding-left: 20%
        }
      }

      .product-detail-page__rating__counter {
        font-size: $font-paragraph-sm;
      }

      .product-detail-page__rating__likes {
        padding-top: 4px;

        .b-icon {
          color: $primary;
        }

        span {
          font-size: $font-paragraph-sm;
          position: relative;
          top: -6px;
          left: 2px;
        }

      }
    }

  }

  .product-detail-page__pricing {
    padding-top: 10%;

    .product-detail-page__pricing__price {
      max-width: 50%;

      h3 {
        color: $secondary;
        font-size: $font-size-h3-sm;
        letter-spacing: 0.45px;
      }

      .product-detail-page__pricing__price__amount {
        font-size: $font-paragraph-xlg;
        font-weight: bold;
      }

      &:last-child {
        h3 {
          font-size: $font-size-h3-xs;
        }

        .product-detail-page__pricing__price__amount {
          font-size: $font-paragraph-lg;
        }
      }
    }
  }

  .product-detail-page__image-detail {

    .product-detail-page__image-detail__image {
      height: 77px;
      width: 43px;
    }
  }

  .product-detail-page__actions {
    margin-bottom: 10px;
    padding-bottom: 35px;
    border-bottom: solid $black 1px;
    line-height: 28px;
  }

  // Section 3: Related Products
  .product-detail-page__related-products {}

  // Section 4: Rating
  .product-detail-page__ratings {
    .product-detail-page__ratings__stars {
      font-size: $font-size-icons;
      margin-top: 3%;

      .product-rating {
        padding-left: 5%;
        padding-right: 5%;

        svg.icon {
          height: 2rem;
          width: 2rem;
        }
      }


    }

    .product-detail-page__ratings__recommended {
      .product-detail-page__ratings__percentage {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-size: $font-size-banner-title-lg;
          color: $secondary;
          font-weight: bold;
          align-self: center;
        }

        .product-detail-page__ratings__percentage-label {
          font-size: $font-paragraph-lg;
          color: $light-gray
        }

      }


    }
  }

  // Section 5: Product Photos
  .product-detail-page__photos {
    .product-detail-page__photos__button {
      padding-top: 15px;
      padding-bottom: 15px;
      min-height: 31px;


      button {
        max-height: 31px;
        background: $secondary;

        .icon {
          margin-left: 10px;
          height: $font-size-icons-sm;
        }
      }

    }
  }

  // Section 6: Similar Products
  .product-detail-page__similar-products {}


}
