.product-page__sidebar {
  margin-top: 13%;

  h3 {
    color: $primary;
    font-size: $font-size-sidebar-heading-lg;
  }

  ul {
    list-style: none;
    padding-left: 0px;
  }

  li {
    cursor: pointer;
  }
}

.product-page__sidebar__section {
  border-top: 1px solid #707070;
}

.product-page__sidebar__category-variation {
  font-size: $font-size-sidebar-list-lg;
  margin-bottom: 8px;
}

.product-page__sidebar__checkbox-group {
  max-height: 202px;
  width: 100%;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 15px;

  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px D3D3D3;
    border-radius: 0.5rem;
    padding: 2px;
    background: $background-gradient-scroll-bar-vertical;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: 10px;
    border: solid #e2e2e2 1px;


  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #f8f8f8;
  }

  .form-check {
    padding-left: 0px
  }

  .form-check-input {
    margin-left: 75%;
  }




}
