.product-rating {
  color: $stars-active-color;

  padding-left: 25%;
  padding-right: 25%;

  svg.icon {
    height: $font-size-icons-sm;
    width: $font-size-icons-sm;
  }
}

.product-rating--card {
  margin-top: -10px;
}

.product-rating__score {
  font-size: $font-paragraph-lg;
  color: $light-gray;
  padding-top: 10%;
  @include media-breakpoint-down(xs) {
    font-size: $font-paragraph-sm;
    font-weight: 100;
    padding-top: 0px;
    text-align: center;
  }
  .product-rating__score__label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
