.product-page__sidebar {
  margin-top: 13%;

  .product-page__sidebar__clear-filter {
    p {
      border-bottom: solid $black 0.5px;
      letter-spacing: 0.47px;
      font-size: $font-paragraph;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      margin-top: 17%;
      cursor: pointer;
    }
  }

  h3 {
    color: $secondary;
    font-size: $font-size-sidebar-heading-lg;
  }

  ul {
    list-style: none;
    padding-left: 0px;
  }

  li {
    cursor: pointer;
  }
}

.product-page__sidebar__section {
  border-top: 1px solid #707070;
}

.product-page__sidebar__category-variation {
  font-size: $font-size-sidebar-list-lg;
  margin-bottom: 8px;
}

.product-page__sidebar__checkbox-group {
  max-height: 202px;
  width: 100%;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px D3D3D3;
    border-radius: 0.5rem;
    padding: 2px;
    background: $background-gradient-scroll-bar-vertical;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: 5px;
    border: solid #e2e2e2 1px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #f8f8f8;
  }

  .form-check,
  .custom-checkbox {
    padding-left: 0px;
    width: 100%;
  }

  .custom-control-label {
    width: 80%;

    .product-rating {
      position: relative;
      left: -16%;
    }

    &::before,
    &::after {
      left: 100%;
    }
  }

  .custom-control-input {
    position: absolute;
    left: 70%;
  }
}

.show-side-bar {
  display: unset !important;
  -webkit-animation: fade-in-left 0.9s forwards;
  animation: fade-in-left 0.9s forwards;
}

.product-page__sidebar-mobile {
  position: fixed;
  padding-left: 5%;
  top: 0vh;
  overflow: auto;
  max-height: 100vh;
  // max-height: calc(100vh - 10vh);
  width: 80%;
  display: none;
  z-index: 10;
  box-shadow: 0px 0px 0 100vw rgba(29, 29, 29, 0.50196);
  background: $white;

  .product-page__sidebar-mobile__header {
    padding-right: 2px;

    h2 {
      font-size: $font-paragraph;
      border-bottom: solid $black 1px;
      letter-spacing: $font-letter-spacing-nav;
    }
  }

  .product-page__sidebar-mobile__close {
    padding-top: 1.12rem;
  }

  .product-page__sidebar-mobile__close-icon {
    text-align: center;
    background-color: $secondary;
    color: $white;
    font-weight: normal;
    font-size: $font-size-icons-sm;
    padding: 0 0.5rem 0.25rem 0.5rem;
  }

  .product-page__sidebar-mobile__clear-filter p {
    font-size: $font-paragraph;
    border-bottom: solid $black 0.5px;
    letter-spacing: $font-letter-spacing-labels;
  }

  .product-page__sidebar__section {
    &:first-child {
      border-top: none;
    }

    h3 {
      color: $primary;
      font-size: $font-size-sidebar-heading-lg;

      &:first-child {
        margin-top: 0px;
      }
    }
  }

  .custom-control-input {
    z-index: 100;
    width: 30%;
  }
}
