.product-card {

  .product-card-header{
    border: solid 1px rebeccapurple;
    min-height: 11px;
    line-height: normal;
  }
  .product-wishlist-icon{
    padding-top: 0;
  }
  .product-wishlist-icon--selected{
    @extend .product-wishlist-icon;
    color:$primary;
  }

  .product-card-header__label{
    width: 35px;
    height: 14px;
    color: $white;
    margin:0;
    padding: 2px;
    text-align: center;
    font-size: $font-paragraph-sm;
    font-weight:bold;
    letter-spacing: $font-letter-spacing-labels;

  }
  .product-card-header__label--new{
    @extend .product-card-header__label;
    background: $background-gradient-primary;
  }
  .product-card-header__label--promo{
    @extend .product-card-header__label;
    background: $background-gradient-secondary;
  }


}