.product-card {
  min-width: 124px;
  .product-card-header{

    min-height: 11px;
    line-height: normal;
  }
  .product-wishlist-icon{
    padding-top: 0;
  }
  .product-wishlist-icon--selected{
    @extend .product-wishlist-icon;
    color:$primary;
  }

  .product-card-header__label{
    width: 35px;
    height: 14px;
    color: $white;
    margin:0;
    padding: 2px;
    text-align: center;
    font-size: $font-paragraph-sm;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: $font-letter-spacing-labels;

  }
  .product-card-header__label--new{
    @extend .product-card-header__label;
    background: $background-gradient-primary;
  }
  .product-card-header__label--promo{
    @extend .product-card-header__label;
    background: $background-gradient-secondary;
  }
  .product-card-image{
    background:no-repeat center center / 140px 140px;
    min-height: 115px;

    @include media-breakpoint-down(sm) {
      background:no-repeat center center / 124px 124px;
    }
  }
  .product-card-caption{
    text-transform: uppercase;

    font-weight: bold;
  }
  .product-card-caption__title--info{
    font-size:$font-size-product-card-title;
    letter-spacing: $font-letter-spacing-product-card-title;

    margin: 0;
  }
  .product-card-caption__description--info{
    font-size:$font-size-product-card-description;
    letter-spacing: $font-letter-spacing-product-card-description;
    margin-top: -10px;
  }
  .product-card-caption__title--price{
    font-size:$font-size-product-card-price-title;
    color: $primary;
    letter-spacing: $font-letter-spacing-product-card-price-title;
    margin:0;
  }
  .product-card-caption__price--price{
    margin-top: -5px;
  }
  .product-card-caption__title--price-secondary{
    font-size:$font-size-product-card-price-secondary-title;
    color: $primary;
    letter-spacing: $font-letter-spacing-product-card-price-title;
    margin:0;
  }
  .product-card-caption__price--price-secondary{
    font-size:$font-size-product-card-price-secondary-ammount;
    margin-top: -5px;
  }

}