.product-download-image {
  background: no-repeat center center / 180px 221px;
  min-height: 221px;
  min-width: 180px;
  padding: 10px;
  position: relative;

  @include media-breakpoint-down(sm) {
    background: no-repeat center center / 133px auto;
    min-height: 162px;
    min-width: 133px;
  }

  .product-download-image__download-box {
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 31px;
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      right: 15%;
    }

  }

}
