 .color-tiles {
   padding-left: 0px;
   li{
    margin-right: 15px;
   }
   .carousel{
    padding-left: 20px;
    padding-right: 16px;
    margin-top:5px;
   }
 }

 .color-tile {
   list-style: none;
   border-radius: 5px;
   min-width: 45px;
   min-height: 45px;

   @include media-breakpoint-down(xs) {
    min-width: 30px;
    min-height: 45px;
    margin:5%;
  }


 }
