.product-wishlist-icon {
  cursor: pointer;

  @include media-breakpoint-down(xs) {
    font-size: $font-size-icons;
    height: 20px;
    width: 20px;
    line-height: normal;
  }

  &--selected {
    cursor: pointer;
    @extend .wishlist-button__icon;
    color: $primary;
  }
}
