.product-tabs {
  margin-top: 35px;
  @include media-breakpoint-down(xs) {
    margin-top: 0px;
    .card{
      border: unset;
    }
  }
  .product-tabs__title {
    text-transform: uppercase;
    font-size: $font-size-h2;
    font-family: $font-family-alt;
    font-weight: bold;
    color: $black !important;
    @include media-breakpoint-down(xs) {
      border-bottom: solid $light-gray 1px ;
      margin-bottom: 0px !important;

      button {
        @include button-variant(
          $white,
          $white,
          $hover-background: $white,
          $hover-border: $white,
          $active-background: transparent,
          $active-border: transparent
        );
        background: $white;
        color:$black;
        border: unset;
        border-radius: unset;
        text-align: left;
        display: flex;
        justify-content: start;
        span {
          justify-content: flex-end;
        }
        .b-icon {
          font-size: $font-size-icons-sm;
        }
      }
    }
  }

  .product-tabs__title--active {
    color: $primary !important;

  }

  .product-tabs__content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-tabs {
    border-bottom: $nav-tabs-border-width solid $black;
    border-right: $nav-tabs-border-width solid $black;
    border-left: $nav-tabs-border-width solid $black;

    .nav-item {
      margin-bottom: -$nav-tabs-border-width;
    }

    .nav-link {
      border-top: $nav-tabs-border-width solid transparent;
      border-right: $nav-tabs-border-width solid $black;
      border-left: $nav-tabs-border-width solid $black;
      border-radius: unset;

    }

    .nav-link.active,
    .nav-item.show .nav-link {
      color: $nav-tabs-link-active-color;
      background-color: $nav-tabs-link-active-bg;
      border-top: $nav-tabs-border-width solid transparent;
      border-bottom: $nav-tabs-border-width solid transparent;
    }

  }
}
