.profile-edit-page {
  width: 100%;
  padding-bottom: 25px;
  &__banner {
    color: $white;
    .hero {
      padding-top: 10px;
      height: 350px;
      @include media-breakpoint-down(xs) {
        height: 220px;
      }
    }
    .rounded-circle {
      border: solid 3px $white;
    }
    &__content {
      @extend .flex;
      width: 100%;
      height: 333px;
      position: relative;
      @include media-breakpoint-down(xs) {
        height: 204px;
      }
      flex-direction: column;
      p {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: $font-paragraph-lg;
        letter-spacing: 0.4px;
        text-align: center;
      }
      &__slug {
        font-weight: bold;
      }
      &__image {
        &--overlay {
          position: absolute;
          opacity: 0.47;
        }
        &__label {
          cursor: pointer;
          position: absolute;
          text-align: center;
          color: $black;
          opacity: 0.7;
          z-index: 1;
          p {
            margin: 0px;
            font-weight: bold;
            font-size: $font-paragraph-sm;
          }
          .icon {
            width: 26px;
            height: 21px;
          }
          @media (max-width: 411px) {
            top: 60px;
            left: 160px;
          }
          @include media-breakpoint-up(xs) {
            top: 60px;
            left: 225px;
            .icon {
              width: 22px;
              height: 17px;
            }
          }
          @include media-breakpoint-up(lg) {
            top: 48%;
            left: 49%;
          }
        }
      }
    }
  }

  &__description {
    text-align: center;
    padding: 4% 25% 4% 25%;
    @include media-breakpoint-down(xs) {
      padding: 4%;
    }
  }
  &__conversations {
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    &__cards {
      @extend .flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
      &__card {
        width: 47%;
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
      }
      &__button {
        height: 33px;
        @include media-breakpoint-down(xs) {
          margin-top: 10%;
        }
      }
    }
  }
  &__info {
    @extend .flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    &__edit-login {
      width: 100%;
      justify-content: flex-start;
      text-decoration: underline;
      padding-left: 2%;
      @include media-breakpoint-down(xs) {
        padding-left: 6%;
      }
    }
    &__title {
      text-align: center;
      width: 100%;
    }
    &__data {
      width: 100%;
    }
    &__edit {
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      left: 45%;
      margin-bottom: -5%;
      z-index: 1;
      @include media-breakpoint-down(xs) {
        left: -32%;
        margin-bottom: 10px;
        z-index: 1;
      }
    }
  }
  &__submit-button {
    @extend .flex;
  }
}
