.shipping-form-edit-dots {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: $font-paragraph-lg;
  z-index: 1;
  cursor: pointer;
  &__options {
    position: absolute;
    top: 22px;
    right: 8px;
    min-height: 30px;
    min-width: 85px;
    border-radius: 5%;
    background: #fff;
    border: solid #5f5f5f 1px;
    display: grid;
    place-items: center;
  }
}
