// Theme colors
$theme-colors: ('primary': #9117b4,
  'secondary': #bb29bb,
  'danger': #ff4136,
);

// Fonts
$font-family-base: "Champagne";
$font-family-alt: "Bebas Neue";

// Typography

// sizes
$font-size-h1: 3.3125rem;
$font-size-h2: 2.25rem !default;
$font-size-h3: 1.5625rem;
$font-size-h4: 1.125rem !default;
$font-size-h5: 1.0625rem !default;
$font-size-h6: 0.75rem !default;
$font-paragraph: 15px !default;
$font-size-navbar: 16px !default;
$font-size-small: 12px !default;

// Letter Spacing
$font-letter-spacing-headings: 3px;
