// Theme colors
$theme-colors: ('primary': #9117b4,
  'secondary': #bb29bb,
  'danger': #ff4136,
  'heart': #FF8E94,
);
$primary: #9117b4;
$secondary: #bb29bb;
$icon-background-color: #FFFF;


// Fonts
$font-family-base: "Champagne";
$font-family-alt: "Bebas Neue";

// Typography

// Sizes
$font-size-base: 1rem;
$font-size-h1: 3.3125rem;
$font-size-h2: 1.87rem !default;
$font-size-h3: 1.6875rem;
$font-size-h4: 1rem !default;
$font-size-h5: 0.6875rem !default;
$font-size-h6: 0.5625rem !default;
$font-paragraph: 15px !default;
$font-size-navbar: 16px !default;
$font-size-footer: 0.875rem !default;
$font-size-small: 10px !default;
$font-size-icons: 1.43rem !default;

// Letter Spacing
$font-letter-spacing-headings: 3px;


//== Components
$padding-base: 15px !default;
$margin-base: 15px !default;
