.wishlist-button {
  button {
    background: $white;
    color: $black;
    border: solid $black 1px;
    font-weight: bold;
    min-width: 100%;
  }

  .wishlist-button__icon {
    color: $black;
    @include media-breakpoint-down(xs) {
      font-size: $font-size-icons;
      height: 20px;
      width: 20px;
      line-height: normal;
    }
  }

  .wishlist-button__icon--selected {
    @extend .wishlist-button__icon;
    color: $primary;
  }
}
